[submodule "themes/aafu"]
        path = shreenathiyer.github.io/themes/aafu
        url = https://github.com/darshanbaral/aafu
[submodule "public"]
        path = public
        url = https://github.com/ShreenathIyer/ShreenathIyer.github.io.git
        branch = master
